<main class="c-card">
  <!-- TODO (maquetar) añadir componente de titulo -->
  <section class="titles-container">
    <p class="titleSectionCards">Héroes más allá de la imaginación</p>
    <p class="descriptionSectionCards">
      Desde tiempos inmemoriales, la humanidad ha soñado con figuras <br />
      extraordinarias capaces de desafiar los límites de la realidad.
    </p>
  </section>
  <div class="c-card__wrapper">
    @for (hero of hero(); track hero.id; let i = $index) {
      <div class="card-hero">
        <!-- TODO (maqueta) Quitar estilos en linea -->
        <img class="card-img" [src]="hero.img" alt="{{ hero.nombre }}" />
        <p style="font-size: 1.5rem">
          {{ primeraLetraMayuscula(hero.nombre) }}
        </p>
        <p style="font-size: 0.875rem; font-weight: bold">
          {{ hero.descripcion }}
        </p>
        <p style="font-size: 1rem">{{ hero.poderes }}</p>
        <p style="font-size: 1rem">{{ hero.ubicacion }}</p>
        <div class="card-buttons">
          <button (click)="editHeroModal(hero, i)" class="btn-edit">
            <img src="img/pen.svg" alt="Icono de editar" class="pen-edit" />
            Editar
          </button>
          <button
            mat-icon-button
            (click)="deleteHeroModal(i)"
            class="btn-delete"
          >
            Eliminar
          </button>
        </div>
      </div>
    }
  </div>
  <app-modal-edit-hero #modalEditHero />
  <app-delete-btn #modalDeleteHero />
</main>
