@use "../../_varibales.sass" as *;

.s-title__wrapper {
  font-size: $font-size-lg;
  color: $color-primary;
  text-align: center;

  &__text {
    font-size: $font-size-xl;
    font-weight: normal;
    margin-bottom: $space-3;
  }
  &__description {
    font-size: $font-size-md;
    color: $color-text-dark;
  }
}

.c-card__wrapper {
  display: grid;
  grid-template-columns: repeat(4, minmax(15.625rem, 1fr));
  gap: 1.25rem;
  max-width: 75rem;
  width: 100%;
  margin: 0 auto;

  @media (max-width: 1024px) {
    grid-template-columns: 1fr;
    padding: 0 $space-4;
    max-width: 100%;

    &__img {
      width: 100%;
    }
  }

  &__item {
    background-color: $color-white;
    border-radius: 0.625rem;
    padding: $space-4;
    display: flex;
    flex-direction: column;
    text-align: left;
  }

  &__item__img {
    margin: 0 auto $space-4;
    width: 100%;
    height: 14.9064rem;
    object-fit: cover;
  }
  &__item__name {
    font-size: 1.5rem;
    margin-bottom: $space-2;
  }
  &__item__description {
    font-size: 0.875rem;
    font-weight: bold;
  }
  &__item__powers {
    font-size: 1rem;
  }
  &__item__location {
    font-size: 1rem;
  }
  &__item__buttons {
    margin-top: auto;
    display: flex;
    gap: $space-2;
    border: none;
    padding: $space-2 $space-4;
    border-radius: 0.625rem;
    cursor: pointer;
  }
  &__item__btn-edit {
    background-color: $btn-color;
    color: white;
  }
  &__item__btn-delete {
    background-color: grey;
    color: black;
  }
}

.b-btn__showMore {
  background-color: $btn-color;
  color: white;
  border: none;
  padding: $space-2 $space-4;
  border-radius: 0.625rem;
  cursor: pointer;
  margin: $space-4 auto;
  display: block;
}
