.mat-mdc-snack-bar-container.snackbar-success .mdc-snackbar__surface {
  background-color: #29f4b0;
  color: #111;
  width: 19rem;
  height: 3.5rem;
  top: 2rem;
  left: 50.5rem;
  gap: 0.5rem;
  opacity: 1;
  border-radius: border-radius/100;
  padding: space/200;
}

.mat-mdc-snack-bar-container.snackbar-error .mdc-snackbar__surface {
  background-color: #fb6a6a;
  color: #111;
  width: 19rem;
  height: 3.5rem;
  top: 2rem;
  left: 50.5rem;
  gap: 0.5rem;
  opacity: 1;
  border-radius: border-radius/100;
  padding: space/200;
}
