.btn-show-more {
  background-color: #8a42fb;
  width: 8.4375rem;
  height: 2.5rem;
  border-radius: 2.5rem;
  color: white;
  border: none;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-top: 6.25rem;
}

@media (max-width: 768px) {
  .btn-show-more {
    margin-top: 2rem;
  }
}
