<app-spinner />
<app-hero-component />
<app-search-bar [(searchTerm)]="searchTerm" />
<app-section-titles />
@if (searchTerm() | filterHero | async; as heroes) {
  <article class="c-card__wrapper">
    @for (hero of display(heroes); track hero.id; let i = $index) {
      <app-card-component-hero
        [card]="hero"
        [index]="i"
        (heroAction)="openModalAction($event)"
      />
    }
  </article>

  @if (heroes.length > 12) {
    <button class="b__show-more" (click)="showMore()">
      Ver {{ showMoreText() ? "menos" : "mas" }}
    </button>
  }
}
<app-modal-edit-hero />
<app-delete-btn />
