<div class="search-bar-container">
  <div class="search-container">
    <input
      matInput
      type="search"
      placeholder="Busca un Héroe..."
      #searchInput
      class="bar-input"
    />
    <button
      type="button"
      (click)="pipe.filterHero(searchInput.value)"
      class="btn-search"
    >
      <mat-icon>search</mat-icon>
    </button>
  </div>
  <button mat-icon-button (click)="openAddHeroModal()" class="btn-add">
    <mat-icon fontIcon="add"></mat-icon>Añadir Heroe
  </button>
  <app-modal-add-hero #modalAddHero />
</div>
