<section class="s-search-bar__container">
  <div class="s-search-bar">
    <input
      matInput
      type="search"
      placeholder="Busca un Héroe..."
      #searchInput
      class="s-search-bar__input"
    />
    <button
      type="button"
      (click)="pipe.filterHero(searchInput.value)"
      class="s-search-bar__btn-search"
    >
      <mat-icon>search</mat-icon>
    </button>
  </div>
  <button
    mat-icon-button
    (click)="openAddHeroModal()"
    class="s-search-bar__btn-add"
  >
    <mat-icon fontIcon="add"></mat-icon>Añadir Heroe
  </button>
  <app-modal-add-hero #modalAddHero />
</section>
