@use "../../../scss/abstracts/_index" as *;

.s-footer {
  max-width: 84.1875rem;
  color: $color-black;
  margin: 30px auto;
  &__hr {
    margin: $space-2 0;
    border: 1px solid #0000001a;
  }
}

.s-footer__wrapper {
  margin: 30px auto;
  align-items: center;
  display: flex;
  gap: $space-2;

  &-text {
    font-size: $font-size-sm;
  }

  &-icons {
    align-items: center;
    display: flex;
    gap: $space-2;
    margin-left: auto;
  }

  &-icon {
    display: flex;
    align-items: center;
  }

  @media (max-width: 600px) {
    display: block;
    text-align: center;
    gap: $space-3;
    margin: 20px auto;

    &-icons {
      justify-content: center;
      margin-left: 0;
      margin-top: $space-2;
    }
  }
}
