@use '../../_varibales.sass' as *;

footer {
  width: 100%;
  max-width: 84.1875rem;
  color: $color-black;
  margin: auto;

  .footer-elements {
    align-items: center;
    justify-content: space-between;
    gap: $space-2;
    margin-top: $space-5;
    width: 100%;
  }

  hr {
    margin: $space-2 0;
    border: 1px solid #0000001a;
  }

  p {
    margin: 0;
    font-size: $font-size-sm;
  }
}

.rrss-icons {
  display: flex;
  gap: $space-3;
  float: right;
  margin: auto;
  flex-shrink: 0;
}

@media (max-width: 600px) {
  .footer-elements {
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }

  .rrss-icons {
    justify-content: center;
    width: 100%;
  }
}
