<footer class="s-footer">
  <hr class="s-footer__hr" />
  <div class="s-footer__wrapper">
    <p class="s-footer__wrapper-text">
      &copy;{{ CURRENT_YEAR }} SUPERHEROCRUD, Inc
    </p>
    <div class="s-footer__wrapper-icons">
      @for (rrss of SOCIAL_LINKS; track rrss.id) {
        <div class="s-footer__wrapper-icon">
          <a [href]="rrss.url" target="_blank" rel="noopener noreferrer">
            <img [src]="rrss.icon" alt="{{ rrss.name }}" />
          </a>
        </div>
      }
    </div>
  </div>
</footer>
