@use "../../../scss/abstracts/index" as *;

.s-footer {
  max-width: 84.1875rem;
  color: $color-black;
  margin: auto;
  margin-bottom: 10px;
  &__hr {
    margin: $space-2 0;
    border: 1px solid #0000001a;
  }
}

.s-footer__wrapper {
  margin: 35px auto;
  display: flex;
  gap: $space-2;

  padding: 0 $space-4;
  &-text {
    font-size: $font-size-sm;
  }

  &-icon {
    margin: auto;
  }

  @media (max-width: 600px) {
    .s-footer__wrapper {
      grid-column: 2;
      display: block;
      text-align: center;
      gap: $space-3;
      margin: 20px auto;
    }
  }
}
