@if (modalEditService.isOpen()) {
  <div class="modal-overlay">
    <div class="modal-container">
      <form [formGroup]="formControlUpdate" (ngSubmit)="onSubmit()" class="form-modal-edit">
        <button type="button" (click)="modalEditService.closeModalEdit()" class="btn-close-modal">
          <mat-icon>close</mat-icon>
        </button>
        <h2>Editar héroe</h2>
        <div class="test">
          <label for="nombre" class="test">Nombre</label>
          <label for="poderes" class="test">Superpoder</label>
        </div>
        <input id="nombre" formControlName="nombre" type="text" />
        <input id="poderes" formControlName="poderes" type="text" />

        <br />
        <label for="ubicacion" class="label-city">Ciudad</label>
        <input id="ubicacion" formControlName="ubicacion" type="text" />
        <br />
        <label for="descripcion" class="label-desc">Descripción</label>
        <br />
        <textarea id="descripcion" formControlName="descripcion"></textarea>
        <br />
        <div class="file-input">
          <label for="img">Elige una imagen</label>
          <input type="file" name="img" id="img" (change)="modalEditService.onFileChange($event)" />
        </div>
        <input type="checkbox" />
        <label id="terminos" for="terminos"
          >Acepto los <u style="cursor: pointer">terminos y condiciones</u></label
        >
        <br />
        <button type="submit">Guardar cambios</button>
      </form>
    </div>
  </div>
}
