@use "../../../scss/abstracts/_index" as *;

.s-title__wrapper {
  font-size: $font-size-lg;
  color: $color-primary;
  text-align: center;

  &-text {
    font-size: 1.9375rem;
    font-weight: normal;
    margin-bottom: $space-3;
  }

  &-description {
    font-size: $font-size-md;
    color: $color-text-dark;
  }

  &-description-text {
    margin: auto;
  }

  &-description-text-1 {
  }
}
