<form [formGroup]="form()" (ngSubmit)="onSubmit()" class="c-form">
  <button
    type="button"
    mat-icon-button
    (click)="onCancel()"
    class="c-form__btn-close"
  >
    <mat-icon fontIcon="close"></mat-icon>
  </button>

  <h2>
    {{ mode() === "add" ? "Crear héroe" : "Guardar cambios" }}
  </h2>

  <div class="c-form__fields-row">
    <div class="c-form__field-group">
      <mat-label for="name">Nombre</mat-label>
      <input matInput id="name" formControlName="name" type="text" />
      @if (hasError("name", "required")) {
        <small class="c-form__field-error">El nombre es obligatorio.</small>
      }
      @if (hasError("name", "minlength")) {
        <small class="c-form__field-error"
          >El nombre debe tener al menos 2 caracteres.</small
        >
      }
    </div>

    <div class="c-form__field-group">
      <mat-label for="powers">Superpoder</mat-label>
      <input matInput id="powers" formControlName="powers" type="text" />
      @if (hasError("powers", "required")) {
        <small class="c-form__field-error">El superpoder es obligatorio.</small>
      }
      @if (hasError("powers", "minlength")) {
        <small class="c-form__field-error"
          >El superpoder debe tener al menos 2 caracteres.</small
        >
      }
    </div>
  </div>

  <div class="c-form__field-group c-form__field-full">
    <mat-label for="location">Ciudad</mat-label>
    <input matInput id="location" formControlName="location" type="text" />
    @if (hasError("location", "required")) {
      <small class="c-form__field-error">La ciudad es obligatoria.</small>
    }
    @if (hasError("location", "minlength")) {
      <small class="c-form__field-error"
        >La ciudad debe tener al menos 2 caracteres.</small
      >
    }
  </div>

  <div class="c-form__field-group c-form__field-full">
    <mat-label for="description">Descripción</mat-label>
    <textarea
      matInput
      id="description"
      formControlName="description"
      rows="3"
    ></textarea>
    @if (hasError("description", "required")) {
      <small class="c-form__field-error">La descripción es obligatoria.</small>
    }
    @if (hasError("description", "minlength")) {
      <small class="c-form__field-error"
        >La descripción debe tener al menos 10 caracteres.</small
      >
    }
  </div>

  <div class="c-form__field-group c-form__field-full">
    <label for="img">Elige una imagen</label>
    <div class="c-form__file-input-row">
      <label for="img" class="c-form__file-input-trigger"
        >Seleccionar archivo</label
      >
      <input
        type="file"
        name="img"
        id="img"
        (change)="onFileInputChange($event)"
      />
      <p class="c-form__file-input-hint">{{ fileName() }}</p>
    </div>
  </div>

  <div class="c-form__actions">
    <mat-checkbox class="c-form__terminos">
      Acepto los <span class="c-form__terms-link">Términos y condiciones</span>
    </mat-checkbox>
    <button
      type="submit"
      mat-raised-button
      color="primary"
      class="c-form__btn-submit"
    >
      {{ mode() === "add" ? "Crear héroe" : "Guardar cambios" }}
    </button>
  </div>
</form>
